.li{
    display: flex;
    list-style-type: none;
    border: 1px solid #0e518c;
    border-radius: 5px;
    width: auto;
    max-height: auto;
    height: auto;
    padding: 1%;
    background-color: #0e518c;
    
}
.ul{
    width: 80%;
    list-style-type: none;
    
}
.container{
    position: relative;
    color: white;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #121212;
}